/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
}

.h3-headings {
    margin-top: 1vw;
    text-align: center;
    font-size: 1rem;
}

.h2-headings {
    text-align: center;
    margin: 1vw;
}

ul {
    list-style: none;
    margin: 0px 10px;
}

/* Title Bar */
#title-bar {
    width: 100vw;
    background: #000 url('../images/TitleBG.jpg') no-repeat center center/cover;
    opacity: 0.9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-bar img {
    width: 9vw;
    height: 18vh;
    margin: auto -1vw;
    position: relative;
    right: 3vw;
}

#title-bar h1 {
    font-size: 4rem;
}

/* Navigation Bar */

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 0.7;
    height: 3vw;
    padding-top: 0.4vw;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    margin: 1.5vw;
}


/* Central Content */
#central-container {
    display: flex;

}

.box {
    background-color: rgb(34, 34, 34);
    border: 2px solid black;
    border-radius: 15px;
    height: 35vh;
    margin: 1vw;
    padding: 1vw;
    list-style: none;
    color: white;
}

#left-box {
    width: 19vw;
}

#redundant {
    width: 49vw;
}

#right-box {
    width: 26vw;

}


/* Notice Board */


#notice-container {
    margin-top: 1vw;
    width: 90%;
    height: 70%;
    padding: 0.8vw 0;
    overflow: hidden;
    overflow-y: scroll;
}

#notice-container ul li {
    margin: 1vw 0;
    list-style: disc;
}


/* Gallery Caraousel */
.carousel {
    margin: 3vw 0vw;
}

.carousel-inner img {
    width: 100vw;
    height: 40vw;
}


/* Faculty Carousel */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faculty-container{
    height: 75vh;
    margin: 1vw 0;
}

.faculty-container .content{
    margin-top: 2vw;
}

.faculty-container .card{
    height: 50vh;
    padding: 10px;
    box-shadow: 1px 1px 14px rgb(74, 74, 74), -1px -1px 14px rgb(74, 74, 74);
    background: #e7e7e7;
    border-radius: 25px;
}

.faculty-container .card .card-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.faculty-container .card-content .image{
    width: 150px;
    height: 150px;
    border: 5px solid yellow;
    border-radius: 50%;
    padding: 5px;
}

.faculty-container .card-content img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.faculty-container .card-content .name{
    margin: 1vw 0;
    font-weight: bold;
    font-size: 2rem;
}

.faculty-container .card-content .degree{
    font-weight: 500;
    font-size: 1.5rem;
}

.faculty-container .card-content .media-icons{
    font-size: 30px;
    margin-top: 3px;
}

.faculty-container .card-content .media-icons i{
    margin: 10px;
    opacity: 0.7;
    transition: all 0.5s;
    cursor: pointer;
}

.faculty-container .card-content .media-icons i:hover{
    opacity: 1;
}


/* Footer */
.footer-container {
    width: 100vw;
    height: 21vw;
    background: #000 url("../images/footer-bg.png") no-repeat center center/cover;
    /* opacity: 0.9; */
    padding: 3vh 0vh;
}

.footer-container hr{
    margin: 0 12vw;
    border: 2px solid white;
    opacity: 1;
}

.footer {
    color: white;
    padding: 3vh 5vw;
    display: flex;
    justify-content: center;

}

.footer ul {
    text-align: left;
    font-size: 1.1rem;
    margin: 0vh 8vw;
}


/* Copyright */
#copyright {
    width: 100vw;
    height: 2.5vw;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    padding: 0.5vw 0;
    font-size: 0.8rem;
}