/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

html {
    width: 100vw;
}

.h3-headings {
    margin-top: 1vw;
    text-align: center;
    font-size: 1rem;
}

.h2-headings {
    text-align: center;
    margin: 1vw;
}

ul {
    margin: 0px 10px;
    padding: 0
}

/* Title Bar */
#title-bar {
    width: 100vw;
    background: #000 url('../images/TitleBG.jpg') no-repeat center center/cover;
    opacity: 0.9;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-bar img {
    width: 9vw;
    height: 18vh;
    margin: auto -1vw;
    position: relative;
    right: 3vw;
}

#title-bar h1 {
    font-size: 4rem;
}

/* Navigation Bar */

nav {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 3vw;
    padding-top: 0.4vw;
}

.nav-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu li {
    list-style: none;
    transition: all 0.5s;
    padding-bottom: 7px;
}

.nav-menu li:hover {
    color: white;
    border-radius: 10px;
    box-shadow: 100px 0 0 0 black inset, -100px 0 0 0 black inset ;
}

.nav-menu li:hover a {
    color: white;
}
.nav-menu a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    margin: 1.5vw;
}




/* Central Content */
#central-container {
    display: flex;
    height: max-content;
    padding: 10vw 3vw;
    position: relative;
    background: black url("https://cdn.pixabay.com/photo/2016/10/20/18/35/earth-1756274_960_720.jpg") no-repeat center /cover fixed;

}


.box {
    background-color: rgb(255, 255, 255);
    border: 7px solid #607D8B;
    border-radius: 15px;
    height: 56vh;
    margin: 1vw;
    padding: 1vw;
    color: black;
    box-shadow: 0vw 0vw 1.25vw 0.1vw white;
}


/* Notice Board */


.notice-container {
    margin: 1vw 0vw 0vw 1vw;
    width: 90%;
    height: 70%;
    padding: 0.8vw 0vw;
    overflow: hidden scroll;
}

.notice-container ul li {
    margin: 1vw 0vw 0vw 1vw;
    list-style: disc;
}

#latest-discoveries {
    width: 19vw;
}

#announcements {
    width: 49vw;
}

#announcements .notice-container{
    margin: 1vw 0vw 0vw 2vw;
}

#notice-board {
    width: 26vw;
}


/* Gallery Caraousel */
.carousel h1{
    margin: 0;
    padding: 3vw 0vw;
    background-image: linear-gradient(#686868 36%, #ffffff);
    color: #000000;
    box-shadow: 0vw 0vw 3vw 1vw white;
}

.carousel-inner img {
    width: 100vw;
    height: 40vw;
}


/* Faculty Carousel */

.swiper {
    width: 100%;
    background: #000 url("/images/faculty-bg.jpg") no-repeat center center/cover fixed;
    padding: 1vw 0vw 3vw;
}


.swiper h1{
    margin: 0;
    padding: 3vw 0vw;
    background-image: linear-gradient(#686868 36%, #ffffff);
    color: #000000;
    box-shadow: 0vw 0vw 3vw 1vw white;
}

.swiper-wrapper{
    height: 0;
    margin-top: 2vw;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faculty-container{
    height: 46vw;
    padding: 1vw 0;
}



.faculty-container .card{
    height: max-content;
    padding: 10px;
    box-shadow: 1px 1px 14px rgb(74, 74, 74), -1px -1px 14px rgb(74, 74, 74);
    background: #e7e7e7;
    border-radius: 25px;
}

.faculty-container .card .card-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faculty-container .card-content .image{
    width: 150px;
    height: 150px;
    border: 5px solid yellow;
    border-radius: 50%;
    padding: 5px;
}

.faculty-container .card-content img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.faculty-container .card-content .name{
    margin: 1vw 0;
    font-weight: bold;
    font-size: 2rem;
}

.faculty-container .card-content .degree{
    font-weight: 500;
    font-size: 1.5rem;
}

.faculty-container .card-content .media-icons{
    font-size: 30px;
    margin-top: 3px;
}

.faculty-container .card-content .media-icons i{
    margin: 10px;
    opacity: 0.7;
    transition: all 0.5s;
    cursor: pointer;
}

.faculty-container .card-content .media-icons i:hover{
    opacity: 1;
}


/* Useful Links */
#useful-links{
    width: 100vw;
    height: max-content;
    background: #000;
    padding: 1vw 0;
}


#useful-links h1{
    margin: 0;
    padding: 3vw 0vw;
    background-image: linear-gradient(#686868 36%, #ffffff);
    color: #000000;
    box-shadow: 0vw 0vw 3vw 1vw white;
}

.useful-links-list{
    width: 80vw;
    margin: 5vw auto;
    height: max-content;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 1vw;    
    grid-gap: 1vw;
}

.useful-link{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vw;
}

.useful-link i{
    color: white;
    font-size: 50px;
}

.useful-link-name{
    color: white;
    margin-top: 1vw;
    transition: all 0.5s;
}

.useful-link:hover{
    font-size: 1.2em;
    text-shadow: 0px 0px 10px #e7e7e7;
}




/* Footer */
.footer-container {
    width: 100vw;
    height: 21vw;
    background: #000 url("../images/footer-bg.png") no-repeat center center/cover;
    padding: 3vh 0vh;
}

.footer-container hr{
    margin: 0 12vw;
    border: 2px solid white;
    opacity: 1;
}

.footer {
    color: white;
    padding: 3vh 5vw;
    display: flex;
    justify-content: center;

}

.footer ul {
    text-align: left;
    font-size: 1.1rem;
    margin: 0vh 8vw;
    list-style: none;
}

.footer ul li:hover{
    text-shadow: 0px 0px 2px white;
}


/* Copyright */
#copyright {
    width: 100vw;
    height: 2.5vw;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    padding: 0.5vw 0;
    font-size: 0.8rem;
}