/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

a{
    color: inherit;
    text-decoration: inherit;
}

li{
    list-style: none;
}

body{    
    background-color: black;
}

.h3-headings {
    margin-top: 1vw;
    text-align: center;
    font-size: 1rem;
}

.h2-headings {
    text-align: center;
    margin: 1vw;
}

.main-container {
    display: flex;
    height: fit-content;
}

.nav-header {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1vw;
    /* height: 100vh; */
}

header {
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vw 0vw;
}

header a img {
    height: 9vw;
    width: 7vw;
}

.navigation {
    height: 100%;
    padding: 2vw 1vw;
}

.navigation li{
    list-style: none;
    margin: 1vw 0;
    font-size: 1.2rem;
}

.navigation ul li:hover {
    cursor: pointer;
}

.main-content {
    width: 75%;
    /* height: 100vh; */
    padding: 3vw 4vw;
}

.main-content h1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.logo{
    display: flex;
    align-items: center;
}

.logo h3 {
    text-align: center;
    margin: 1vw;
    font-weight: bold;
    color: #e5fbff;
    font-family: cursive;
    text-shadow: 0vw 0vw 1vw black;
    text-decoration: underline;
}

.temp{
    display: none;
}

.active{
    display: block;
}

.siblings{
    display: none;
}


/* Footer */
/* .footer-container {
    width: 100vw;
    height: 21vw;
    background: #000 url("../images/footer-bg.jpg") no-repeat center center/cover;
    padding: 3vh 0vh;
}

.footer-container hr{
    margin: 0 12vw;
    border: 2px solid white;
    opacity: 1;
}

.footer {
    color: white;
    padding: 3vh 5vw;
    display: flex;
    justify-content: center;

}

.footer ul {
    text-align: left;
    font-size: 1.1rem;
    margin: 0vh 8vw;
    list-style: none;
}

.footer ul li:hover{
    text-shadow: 0px 0px 2px white;
} */


/* Copyright */
/* #copyright {
    width: 100vw;
    height: 2.5vw;
    background-color: black;
    opacity: 0.9;
    color: white;
    text-align: center;
    padding: 0.5vw 0;
    font-size: 0.8rem;
} */