{% extends 'home/layout.html' %}

{% block title %} Alumni {% endblock %}



{% block nav_list %}
<ul>
    <li><a href="/director"><i class="fa-brands fa-slack"></i>
            <h3>Director</h3>
        </a>
    </li>
    <li><a href="/alumni"><i class="fa-brands fa-slack"></i>
            <h3>Alumni</h3>
        </a>
    </li>
    <li><a href="/mission"><i class="fa-brands fa-slack"></i>
            <h3>Mission</h3>
        </a>
    </li>
    <li><a href="/vision"><i class="fa-brands fa-slack"></i>
            <h3>Vision</h3>
        </a>
    </li>
</ul>

{% endblock %}


{% block sub_heading %}
Alumni
{% endblock %}



{% block content %}
Names with year of passing out
{% endblock %}


