{% extends 'home/layout.html' %}

{% block title %} Auditorium {% endblock %}





{% block nav_list %}
<ul>
    <li><a href="/campus"><i class="fa-brands fa-slack"></i>
            <h3> Campus</h3>
        </a>
    </li>
    <li><a href="/hostel"><i class="fa-brands fa-slack"></i>
            <h3> Hostel</h3>
        </a>
    </li>
    <li><a href="/canteen"><i class="fa-brands fa-slack"></i>
            <h3> Canteen</h3>
        </a>
    </li>
    <li><a href="/auditorium"><i class="fa-brands fa-slack"></i>
            <h3> Auditorium</h3>
        </a>
    </li>
    <li><a href="/classroom"><i class="fa-brands fa-slack"></i>
            <h3> Classroom</h3>
        </a>
    </li>
</ul>


{% endblock %}


{% block sub_heading %}
Auditorium
{% endblock %}



{% block content %}
<p>The College has a state-of-the-art, centrally air-conditioned auditorium with a seating capacity of about 300 people an area of about 2500 square feet. It serves as a space for fostering the holistic development of the student community.It is fully sound proofed in order to ensure that the classes of the students are not distributed. The auditorium is also well-furnished with a large podium, cosy seating with special chairs for the guests, balcony seats for a finer view of the events, good acoustics, advanced audio-visual equipment including LCD projectors, screens,etc.</p>

{% endblock %}


