{% extends 'home/layout.html' %}

{% block title %} Canteen {% endblock %}





{% block nav_list %}
<ul>
    <li><a href="/campus"><i class="fa-brands fa-slack"></i>
            <h3> Campus</h3>
        </a>
    </li>
    <li><a href="/hostel"><i class="fa-brands fa-slack"></i>
            <h3> Hostel</h3>
        </a>
    </li>
    <li><a href="/canteen"><i class="fa-brands fa-slack"></i>
            <h3> Canteen</h3>
        </a>
    </li>
    <li><a href="/auditorium"><i class="fa-brands fa-slack"></i>
            <h3> Auditorium</h3>
        </a>
    </li>
    <li><a href="/classroom"><i class="fa-brands fa-slack"></i>
            <h3> Classroom</h3>
        </a>
    </li>
</ul>


{% endblock %}


{% block sub_heading %}
Canteen
{% endblock %}



{% block content %}
<p>The college has a well-furnished canteen that spreads over 230 metres, accommodating around 100 people. Having a wide variety of menu at highly nominal prices without any compromises on the quality of the food, the canteen provides a bustling ambience for the students, staff members and visitors with its spacious, hygienic and cozy space. A new venture called ‘Shakes and More’ is also instituted on the campus to offer an extensive variety of food and beverages. The canteen is efficiently administered by a Canteen Committee appointed by the College Staff Council who ensure to make it one of the finest and hygienic canteens in the University.</p>

{% endblock %}


