{% extends 'home/layout.html' %}

{% block title %} Classroom {% endblock %}





{% block nav_list %}
<ul>
    <li><a href="/campus"><i class="fa-brands fa-slack"></i>
            <h3> Campus</h3>
        </a>
    </li>
    <li><a href="/hostel"><i class="fa-brands fa-slack"></i>
            <h3> Hostel</h3>
        </a>
    </li>
    <li><a href="/canteen"><i class="fa-brands fa-slack"></i>
            <h3> Canteen</h3>
        </a>
    </li>
    <li><a href="/auditorium"><i class="fa-brands fa-slack"></i>
            <h3> Auditorium</h3>
        </a>
    </li>
    <li><a href="/classroom"><i class="fa-brands fa-slack"></i>
            <h3> Classroom</h3>
        </a>
    </li>
</ul>


{% endblock %}


{% block sub_heading %}
Classroom
{% endblock %}



{% block content %}
<p>A classroom is a space where learning can take place uninterrupted. The classrooms in the campus at Hansraj College are the most versatile rooms in the campus which allow the students to engage in fruitful debates and discussions to enhance the learning experience at Hansraj. The college provides adequate facilities for teaching and learning. The total number of classrooms in the college is thirty-five. Most of the classrooms inour college are air conditioned, equipped with LCD projectors and are Wi-Fi enabled. They are well ventilated and support an effective teaching learning environment.</p>


{% endblock %}


