{% extends 'home/layout.html' %}

{% block title %} Courses {% endblock %}

{% block css %}
<style>
    .main-content ol{
        padding: 0;
    }

    .course-content{
        padding-left: 2vw;
        margin-bottom: 2vw;
    }
</style>


{% endblock %}


{% block nav_list %}
<ul>
    <li><a href="/courses"><i class="fa-brands fa-slack"></i>
            <h3> Courses Offered</h3>
        </a>
    </li>
    <li><a href="/syllabus"><i class="fa-brands fa-slack"></i>
            <h3> Syllabus</h3>
        </a>
    </li>
</ul>

{% endblock %}


{% block sub_heading %}
Courses Offered
{% endblock %}



{% block content %}
<ol>
    <li>
        <div class="course-heading"><h3>1.B.F.A. Painting</h3></div>
        <div class="course-content">
            Bachelor of Fine Arts in Painting is an Under-Graduate Painting course. In the Bachelor of Fine Arts in
            Painting
            program, the students are introduced to advanced painting techniques with an emphasis on theme development.
            They
            are
            taught to experiment with the form and content of the painting.</div>
    </li>

    <li>
        <div class="course-heading"><h3>2.B.F.A. Sculpture</h3></div>
        <div class="course-content">
            Bachelor of Fine Arts in Sculpture is an Under-Graduate Fine Arts course. The Bachelor of Fine Arts in
            Sculpture
            is
            a fluid field of endless material possibility and can exist in multiple dimensions. It is no longer defined
            as
            pure
            form but as an inter-play of assembled forms involving a broad range of techniques and media.</div>
    </li>

    <li>
        <div class="course-heading"><h3>3.B.F.A. Ceramics</h3></div>
        <div class="course-content">
            B.F.A in Ceramics and Pottery is a degree program which inculcates great expressive qualities in the domain
            of
            art
            and creativity. Initial years in pottery and ceramics, introduces the students to fundamentals of design to
            enhance
            their sensibility and sensitivity towards aesthetics and function of design.</div>
    </li>

    <li>
        <div class="course-heading"><h3>4.M.F.A. Painting</h3></div>
        <div class="course-content">
            Master of Fine Arts in Painting is a Post-Graduate Painting course. Master of Fine Arts in Painting educates
            visual
            artists who create individual work and perform autonomous research with a view to gaining insight into new
            prospects
            for painting in a digital era based on a reflective and critical attitude. A degree in Painting is a
            credential
            that
            signifies a student's capacity to work independently in a discriminating, distinctive, and professional
            manner.</div>
    </li>

    <li>
        <div class="course-heading"><h3>5.M.F.A. Sculpture</h3></div>
        <div class="course-content">
            Master of Fine Arts in Sculpture is a postgraduate Fine Arts course. The sculpture is a fluid field of
            endless
            material possibility and can exist in multiple dimensions. It is no longer defined as pure form but as an
            inter-play
            of assembled forms involving a broad range of techniques and media. The program provides a foundation or an
            extension for people who are, or would like to become, practicing artists in the visual arts or related
            fields.</div>
    </li>

    <li>
        <div class="course-heading"><h3>6.M.F.A. Ceramics</h3></div>
        <div class="course-content">
            (M.F.A) degree in Ceramics is a concentrated three-year program devoted to studio, seminar, art history, and
            elective coursework. It emphasizes diversity, rigorous conceptual investigation, and contemporary critical
            discourse
            to develop individuals who challenge existing norms while producing compelling artwork. Through individual
            research,
            students develop skills, techniques and use of material as evidenced through a mature body of creative
            artwork.</div>
    </li>

</ol>

{% endblock %}



{% block myJS %}


{% endblock %}