{% extends 'home/layout.html' %}

{% block title %} Events {% endblock %}



{% block nav_list %}
<ul>
    <li><a href="/exhibition"><i class="fa-brands fa-slack"></i>
            <h3>Exhibition</h3>
        </a>
    </li>
    <li><a href="/events"><i class="fa-brands fa-slack"></i>
            <h3>Events</h3>
        </a>
    </li>
</ul>

{% endblock %}


{% block sub_heading %}
Events
{% endblock %}



{% block content %}
<p>We welcome one and all to visit our events, which for us is an event of life, a celebration of creativity and the creative people,
    now add some photos of getting award or any fest etc</p>
{% endblock %}


