{% extends 'home/layout.html' %}

{% block title %} Courses {% endblock %}



{% block nav_list %}
<ul>
    <li><a href="/courses"><i class="fa-brands fa-slack"></i>
            <h3> Courses Offered</h3>
        </a>
    </li>
    <li><a href="/syllabus"><i class="fa-brands fa-slack"></i>
            <h3> Syllabus</h3>
        </a>
    </li>
</ul>

{% endblock %}


{% block sub_heading %}
Syllabus
{% endblock %}



{% block content %}

    <h1>HUME BHI NHI PATA XD</h1>
{% endblock %}



{% block myJS %}


{% endblock %}