{% extends 'home/layout.html' %}

{% block title %} Time Table {% endblock %}



{% block css %}
<style>
    .year {
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

    .year p {
        display: inline;
        font-weight: 600;
        margin-right: 1vw;
        padding: 0;
    }

    .year-btn {
        width: 4vw;
        margin: 0px 14px 14px 0px;
        font-size: 17px;
        padding: 0.5em 1em;
        border: transparent;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        background: dodgerblue;
        color: white;
        border-radius: 4px;
    }

    .year-btn:hover {
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, rgba(30, 144, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }

    .year-btn:active {
        transform: translate(0em, 0.2em);
    }

    .time-table tbody {
        height: 65vh;
    }

    .time-table th,
    .time-table td {
        color: black;
        background-color: rgba(170, 210, 223, 0.2);
        border: 1px solid white;
        padding: 0.4vw;
        border-radius: 7px;
        width: 12%;
        text-align: center;
    }

    .download-pdf {
        display: flex;
        justify-content: center;
    }

    .download-pdf-btn {
        margin: 4vw auto;
        background-color: red;
        padding: 1vw;
        border-radius: 14px;
        border: none;
        transition: box-shadow 0.5s;
    }

    .download-pdf-btn:hover {
        box-shadow: 0px 0px 27px 1px black;
    }
</style>

{% endblock %}




{% block nav_list %}
<ul>
    <li><i class="fa-brands fa-slack"></i>
        <h3>Department</h3>

        <ul>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Biochemistry
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Biomedical Science
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Botany
            </li>
            <li class="mybtn" id="cs-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Computer Science
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Chemistry
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Electronice
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Food Technology
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Human Communication
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Instrumentaion
            </li>
            <li class="mybtn" id="math-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Mathematics
            </li>
            <li class="mybtn" id="mb-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Microbiology
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Physical Education
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Physics
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Polymer Science
            </li>
            <li class="mybtn" id="ps-btn">
                <i class="fa-regular fa-eye"></i>&nbsp; Zoology
            </li>
        </ul>


    </li>

</ul>


{% endblock %}


{% block sub_heading %}
Time Table
{% endblock %}









{% block content %}

<div class="year">
    <p style="padding: 0.3vw 1vw;">Year: </p> <button class="year-btn">I</button> <button class="year-btn">II</button>
    <button class="year-btn">III</button>
</div>

<div class="time-table">
    <table>
        <tbody>
            <tr>
                <th></th>
                <th>8:30 - 10:30</th>
                <th>10:30 - 12:30</th>
                <th>12:30 - 14:30</th>
                <th>14:30 - 16:30</th>
            </tr>
            <tr>
                <th>Monday</th>
                <td>8:30 - 10:30</td>
                <td>10:30 - 12:30</td>
                <td>12:30 - 14:30</td>
                <td>14:30 - 16:30</td>
            </tr>
            <tr>
                <th>Tuesday</th>
                <td>8:30 - 10:30</td>
                <td>10:30 - 12:30</td>
                <td>12:30 - 14:30</td>
                <td>14:30 - 16:30</td>
            </tr>
            <tr>
                <th>Wednesday</th>
                <td>8:30 - 10:30</td>
                <td>10:30 - 12:30</td>
                <td>12:30 - 14:30</td>
                <td>14:30 - 16:30</td>
            </tr>
            <tr>
                <th>Thursday</th>
                <td>8:30 - 10:30</td>
                <td>10:30 - 12:30</td>
                <td>12:30 - 14:30</td>
                <td>14:30 - 16:30</td>
            </tr>
            <tr>
                <th>Friday</th>
                <td>8:30 - 10:30</td>
                <td>10:30 - 12:30</td>
                <td>12:30 - 14:30</td>
                <td>14:30 - 16:30</td>
            </tr>
            <tr>
                <th>Saturday</th>
                <td>8:30 - 10:30</td>
                <td>10:30 - 12:30</td>
                <td>12:30 - 14:30</td>
                <td>14:30 - 16:30</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="download-pdf">
    <button class="download-pdf-btn">
        Download Pdf
    </button>
</div>

{% endblock %}


{% block myJS %}

{% endblock %}